body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	background-color: #ffffff;

}

/**body > * { background: rgba(255, 0, 0, 0.3); } 
body > * > * { background: rgba(255, 255, 0, 0.3); } 
body > * > * > * { background: rgba(0, 0, 255, 0.3); } 
body > * > * > * > * { background: rgba(0, 255, 255, 0.3); }**/

.main-header {
	margin-bottom: 60px;
	background-color: #f4f7f9;


}

.main-header-logo {
	display: flex;
	width: 220px;
	height: 47px;
	background-color: #ee3643;
	box-shadow: inset 0px -5px #b52933;
	
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}


.main-header-logo img {
	margin: auto;
}

.main-header-info {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	background-color: #293449;

}

.main-header-info a {
	color: #ffffff;
}

.container {
	width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header-info .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-search input {
	font: inherit;
	background-color: transparent;
}

.main-header-order {
	background-color: #63a63e;
}

.form-search input:focus {
	background-color: white;
}

.main-header-logo:hover {
	background-color: #ca2c37;
}

.main-header-marker:hover,
.main-header-cart:hover {
	background-color: #212a3a;
}

.main-header-order:hover {
	background-color: #518534;
}

.header-description {
	display: flex;
	justify-content: space-between;
	padding-top: 45px;

}


.header-text {
	width: 200px;
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	font-style: italic;
	color: #ee3643;
}

.header-phone {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	border: solid 3px #ffffff;
}

.header-address {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	text-align: center;
}

.user-navigation {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 300px;
	margin: 0;
	padding: 0;
	font-size: 21px;
	line-height: 21px;
	list-style: none;
}

.user-navigation a {
	color: #000000;
}

.user-navigation a:hover {
	color: #ee3643;
}

.main-navigation {
	font-size: 17px;
	line-height: 17px;
	background-color: #32425c;
	box-shadow: inset 0px -5px #293449;
}

.main-navigation ul {
	list-style: none;
}

.main-navigation a {
	color: #ffffff;
}

.main-navigation a:hover {
	background-color: #32425c;
}

.main-navigation-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	min-height: 60px;
	padding: 0px;
	margin: 0px;

}

.main-company {
	display: flex;
	justify-content: space-between;
	padding: 0px;
}


.company-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
}

.about-company {
	width: 530px;

}
.about-company p {
	font-family: "PT Sans", Arial, sans-serif;
}

.transport-list {
	font-size: 18px;
	line-height: 20px;
}

.button {
	size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
}

.contacts-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
}

.modal {
	display: none;
}

.main-footer {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	background-color: #32425c;
}

.footer-top {
	display: flex;




}
.footer-logo {
	display: flex;
	width: 220px;
	height: 68px;
	background-color: #ee3643;
	box-shadow: inset 0px -5px #b52933;
}

.footer-logo img {
	margin: auto;

}


.footer-navigation  {
	display: flex;
	justify-content: space-between;
	margin: 0px;
	width: 550px; 
    list-style: none;
}
.footer-navigation a {
	color: #ffffff;
}

.footer-middle {
	display: flex;


}
.footer-contacts {
	width: 330px;
	margin: 0px;
	margin-right: 80px;
	color: #f3f7f9;

}

.footer-products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 10px;
	width: 550px;

	

	margin: 0px;
	list-style: none;
}

.footer-products a {
	color: #ffda96;
}

.footer-navigation a:hover,
.footer-products a:hover {
	text-decoration: underline;
}

.footer-bottom {
	font-size: 16px;
	line-height: 18px;
	background-color: #293449;
}

.footer-bottom .container {
	display: flex;
}

.footer-copyright {
	width: 250PX;
	margin-right: 70px;
	margin: 0px;
}

.footer-social {
	display: flex;
	width: 150px;
	margin: 0px;
	text-align: center;
	list-style: none;
}

.social-button {
	color: #ffffff;
}

.social-button:hover {
	background-color: #ee3643;
}

.orders {
	width: 140px;
	margin: 0px;
	margin-left: auto; 
}

.orders a {
	color: #ffd180;
}

.orders a:hover {
	text-decoration: underline;
}

.breadcrumbs {
	margin: 0px;
	margin-bottom: 21px;

	padding: 0px;
	list-style: none;
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
 }

 .breadcrumbs a {
 	color: #000000;
 }

 .page-title {
 	margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
    padding-top: 29px;
    padding-bottom: 30px;
    padding-left: 28px;
 	font-size: 30px;
 	line-height: 30px;
 	font-weight: 400;
 	text-transform: uppercase;
 	background-color: #f2f6f8;
 	color: #32425c;
 }

.filters {
	width: 220px;
	margin-right: 20px;
}

.filter-title {
	margin: 0px;
	margin-bottom: 12px;
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 11px;
	padding-left: 19px;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	border-radius: 3px;
	text-transform: uppercase;
	background-color: #f7f3ec;
}

.filter {
	font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
}

.filter fieldset {
    padding: 0px;
    margin: 0px;
    border: none;
}

.filter legend {
	margin-bottom: 14px;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
}

.manufacturer {
	list-style: none;
	margin: 0px;
	margin-bottom: 17px;
	padding: 0px;
	border-bottom: 1px solid #e5e5e5;
}

.power { 
    margin: 0px;
    margin-bottom: 78px;
    padding: 0px;
    list-style: none;
}


.catalog {
	width: 700px;
}

.catalog-page {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}
.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0px;
	padding: 0px;
	list-style: none;

}

.catalog-item {
    margin-bottom: 20px;
    margin-right: 17px;
	width: 220px;
	min-height: 318px;
	text-align: center;
	border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item h3 {
	font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.catalog-item-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
    color: #999999;
}

.catalog-item-price-sale {
	margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
	width: 136px;
	font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    border-radius: 3px;
    color: white;
    background: #ee3643;
}

.button-cart {
	display: none;
	width: 135px;
	font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #63a63e;
    border-bottom-color: #367315;
    border-radius: 3px;
}

.button-marker {
	display: none;
	width: 135px;
	font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border: 3px solid #63a63e;
    border-radius: 3px;
    background-color: #ffffff;
    color: #32425c;
}
